<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/style.css"></head>
<body>
<header id="homeHeader">
        <a href="/home"><h1>doze</h1></a>
 </header>
  <div id="links" style="background-image: url({{ url_for('static', filename='images/Image-1.jpg')}})">
      <a href="/to_alarms">Alarms</a>
      <a href="/to_info">Alarm Info</a>
      <a href="/to_account">My Account</a>
      <a href="/to_settings">Settings</a>
  </div>
  
<!--
  <div id="nav">
    <a href="/to_alarms"><i class="far fa-clock"></i></a>
    <a href="/to_info"><i class="fas fa-info-circle"></i></a>
    <a href="/to_account"><i class="fas fa-user"></i></a>
    <a href="/to_settings"><i class="fas fa-cog"></i></a>
</div>
-->
</body>
</html>