<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
        <header>
            <a href="/home">
                <h1>doze</h1>
            </a>
        </header>
        
    <div id="infoPage">
        <h2>My Account</h2>
        <h3>Scents</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae doloremque maxime veniam assumenda dicta quibusdam earum quidem nulla voluptas! Atque rerum repudiandae qui commodi alias distinctio vel, animi porro eligendi.</p>
        <h3>Light</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae doloremque maxime veniam assumenda dicta quibusdam earum quidem nulla voluptas! Atque rerum repudiandae qui commodi alias distinctio vel, animi porro eligendi.</p>
        <h3>Sound</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae doloremque maxime veniam assumenda dicta quibusdam earum quidem nulla voluptas! Atque rerum repudiandae qui commodi alias distinctio vel, animi porro eligendi.</p>
    </div>
    
    <div id="nav">
    <a href="/to_alarms"><i class="far fa-clock"></i></a>
    <a href="/to_info"><i class="fas fa-info-circle"></i></a>
    <a href="/to_account"><i class="fas fa-user"></i></a>
    <a href="/to_settings"><i class="fas fa-cog"></i></a>
</div>
</body>

</html>
